.add-from {
    margin: 0 auto;
    width: 50%;
    border: 2px solid orangered;
    padding-bottom: 20px;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: aqua;
}

.add-form input {

    display: block;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding-left: 10px;
    font-size: 16px;
    margin-bottom: 15px;
}